.efbl{
	
	&-halfwidth-skin{
		padding: 0;
		margin-bottom: 0;
	}

	&-thumbnail-col{
		padding: 0;

		a{
			pointer-events: none;

			overflow: hidden;

			img{
				margin-top: -5%;
				margin-bottom: -5%;
			}
		}
	}

	&-profile{
		&-title-wrap, &-image{
			display: none;
		}

		&-title span{
			font-weight: bold !important;
			font-style: normal !important;
			color: $white !important;
		}
	}

	&-feed-content{
		padding-top: 80px;
		color: $white;
		padding-bottom: 100px;

		@extend .container;
		@extend .split-sm-container;
		
		@media(min-width: 992px){
			padding-left: 80px;
		}




}

&-row{
	align-items: center;
}

&-post-footer{
	@extend .container;
	margin-top: -90px !important;
	padding-bottom: 20px;

}

}

.esf{
	&-share{
		display: none !important;
	}
}

.efbl-halfwidth-skin .efbl-feed-content .description, .efbl-halfwidth-skin .efbl-feed-content .efbl_link_text{
	color: $white;
}

.pe-grid_wrapper .efbl-halfwidth-skin .efbl-thumbnail-wrapper .efbl-post-footer .efbl-view-on-fb{
	padding: 9px 14px;
    min-width: 140px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.875rem;
    background-color: $white;
    outline: none;
	border: 0;
	
	&, &:hover{
		color: $dark;
	}
}