.efbl{
	
	&-halfwidth-skin{
		padding: 0;
		margin-bottom: 0;
	}

	&-thumbnail-col{
		padding: 0;

		a{
			pointer-events: none;
		}
	}

	&-profile{
		&-title-wrap, &-image{
			display: none;
		}

		&-title span{
			font-weight: bold !important;
			font-style: normal !important;
			color: $white !important;
		}
	}

	&-feed-content{
		padding-top: 80px;
		color: $white;

		@extend .split-sm-container;
		
		@media(min-width: 992px){
			padding-left: 80px;
		}




}

}

.esf{
	&-share-wrapper{
		display: none;
	}
}

.efbl-halfwidth-skin .efbl-feed-content .description, .efbl-halfwidth-skin .efbl-feed-content .efbl_link_text{
	color: $white;
}