@import 'header';
@import 'banner';

@import 'footer';

article {
    padding: 50px 0;

    .container {

        >section:first-child {
            margin-top: -50px;
        }

        >section:last-child {
            margin-bottom: -50px;
        }

    }
}

@import 'facebook';