
@import 'variables/variables';
@import '~compass-mixins';

@import '~normalize.css/normalize.css';
@import '~bootstrap/scss/bootstrap-grid';

@import '~magnific-popup/src/css/main';

@import '~@sephsekla/picture-cover/mixin';

@import '~@sephsekla/split-container/src/split-container';

@import '~flickity/css/flickity.css';


@import 'modules/a11y';

@import 'mixins/mixins';

@import 'utilities/utilities';

html, body, p{
    font-size: 16px;
    line-height: 22px;
    font-family: $font-main;
}

@import 'elements/elements';

@import 'blocks/group';
@import 'blocks/table';
@import 'blocks/social';


@import 'sections/sections';

.alignfull.wp-block-group, .pe-grid_wrapper, .pe-about_wrapper{
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;

    margin-top: 80px;

    &+.pe-grid_wrapper{
        margin-top: 0;
    }

    .wp-block-group__inner-container{
        @extend .container;
    }
}

@import 'woocommerce/woocommerce';

.flickity-button{
    min-width: 0;
  
    color: $blue;

    @media(min-width: 576px){

    background-color: transparent;

    &.previous{
        left: -50px;
    }

    &.next{
        right: -50px;
    }

}

}