@import 'buttons';

@import 'titles';

img{
    max-width: 100%;
    height: auto;
}

select, input{
    border: 0;
    appearance: none;
    background-color: $light;
    padding: 8px 15px;
}

select, select.iconic-wlv-terms{
    padding: 8px 25px 8px 15px !important;
    background-image: url('./assets/arrow-grey.svg');
    background-position: right center;
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: auto 40%;
}

.iconic-wlv-terms{
    margin-bottom: 20px !important;
}