@import 'buttons';

@import 'titles';

img{
    max-width: 100%;
    height: auto;
}

select, input{
    border: 0;
    appearance: none;
    background-color: $light;
    padding: 8px 15px;
}

td.value{
    position: relative;
    select{
        padding-right: 25px;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        width: 20px;
        height: 34px;
        pointer-events: none;
        background-image: url('./assets/arrow-grey.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}