@import 'buttons';

@import 'titles';

img{
    max-width: 100%;
    height: auto;
}

select, input{
    border: 0;
    appearance: none;
    background-color: $light;
    padding: 8px 15px;
}

td.value{
    position: relative;
    select{
        padding-right: 25px;
    }
    &::after{
        content: "^";
        position: abolute;
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
    }
}