.pe-about_wrapper{

    .image-column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        color: $white;

        &.bg-white,
        &.bg-yellow {
            color: $dark;
        }

        img{
            display: block;
        }


    }

    .name{
        @include title-font;
        font-size: 1.4rem;
    }

    .quote{
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.5;

        &::before, &::after{
            content: "\0022";
            display: inline;
        }

        &-wrapper.container{
            padding-top: 80px;
            padding-bottom: 80px;

            @media(min-width: 992px){
                max-width: 500px;
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
}