
.pe-grid{
    &_wrapper{
        background-color: $blue;
        color: white;

        .image-wrapper{
            @include picture-cover();
            overflow: hidden;
            padding-bottom: 50%;
            height: 100%;
        }

        .grid-content{
            display: flex;
            height: 100%;
            
            padding-left: 30px;
            
            justify-content: center;
            flex-direction: column;

            
        }
    }
}