
.pe-grid{
    &_wrapper{

        color: $white;

        &.bg-white, &.bg-yellow{
            color: $dark;
        }

        .image-column  button{
            position: relative;
            margin-left: 20px;
            margin-top: 20px;
        }

        .image-wrapper{
            @include picture-cover();
            overflow: hidden;
            padding-bottom: 50%;
            height: 100%;

           
        }

        .grid-content{

            &-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
          
            
          
            
            padding-top: 30px;
            padding-bottom: 30px;
            
            
        }
    }
}