
.pe-grid{
    &_wrapper{
        background-color: $blue;
        color: white;

        .image-wrapper{
            @include picture-cover();
            overflow: hidden;
            padding-bottom: 50%;
            height: 100%;
        }

        .grid-content{

            &-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
          
            
            padding-left: 30px;
            
            padding-top: 30px;
            padding-bottom: 30px;
            
            
        }
    }
}