@font-face {
    font-family: 'Big John Pro';
    font-weight: bold;
    src: url('./assets/fonts/BigJohnPRO/BigJohnPRO-Bold.otf');
}

$font-main: 'Open Sans', arial, helvetica, sans-serif;
$font-title: 'Big John Pro', $font-main;

@mixin title-font(){
    font-family: $font-title;
    font-weight: bold;
    text-transform: uppercase;
}