$colors: (
white: $white,
light: $light,
grey: $grey,
dark: $dark,

blue: $blue,
pink: $pink,
yellow: $yellow,

green: $green,
purple: $purple
);

@each $name, $color in $colors {
    .color-#{$name}, .has-#{$name}-color{
       color: $color;
    }

    .bg-#{$name}, .has-#{$name}-background-color{
        background-color: $color;
    }

    .border-#{$name}{
        border-color: $color;
    }

}