

$alignments: (left, right, center);

@each $alignment in $alignments {
    .align-#{$alignment}{
        text-align: $alignment;
    }
}


.container{
    padding-left: 2*$spacing;
    padding-right: 2*$spacing;

}