.woocommerce-MyAccount-navigation {
    width: 25%;

    ul {
        padding-left: 0;
    }

    li {
        @include wc-tab;
    }
}

.woocommerce-account{ .woocommerce-MyAccount-content{

    @media(min-width: 769px){
    width: 60%;
    }
}

.woocommerce-Address{
    width: 100% !important;
    max-width: 100%;
    float: none;
    padding: 0;
}

}

.woocommerce table.my_account_orders .button{
    margin-top: 5px;
    margin-bottom: 5px;
}