.woocommerce nav.woocommerce-pagination{
    .page-numbers{
        border: 0;

        li{
            border-right: 0;

            a{
                color: $dark !important;
            }

            span {
                
                &.current{
                color: $blue;
                background-color: transparent;
                font-weight: bold;
            }

        }

            .next, .prev{
                color: transparent !important;
                background-image: url('./assets/arrow-grey.svg');
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
                transform-origin: center;
            }

            .prev{
                transform: rotate(90deg);
            }

            .next{
                transform: rotate(-90deg);
            }
        }
    }

}

.woocommerce-product-search{
    margin-bottom: 30px;
}