
.product-loop-inner{
    background-color: $blue;
    color: $white;
    text-align: center;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;


    @include shadow;

    img{
        background-color: $white;
    }

    .button{
        display: none;
    }

    h2{
       font-size: 1rem;
       text-transform: none;
    }

    h2, .price{
        color: $white;
    }
}