
.product-loop-inner{
    background-color: $blue;
    color: $white;
    text-align: center;
    height: 100%;
    padding-bottom: 20px;

    a{
        text-decoration: none;
    }


    @include shadow;

    img{
        background-color: $white;
    }

    .button{
        display: none;
    }

    h2{
       font-size: 0.8rem !important;
       text-transform: none;
       padding-bottom: 0 !important;
       margin-bottom: 0;
    }

    h2, .price{
        color: $white !important;
    }
}