.woocommerce-variation-add-to-cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a.button{
        order: -1;
        margin-bottom: 20px;
    }

    //flex-direction: column;
}

.variations {
    &_form {
        max-width: 220px;

        select {
            width: 100%;
            margin-right: 0;
        }
    }

    tr,
    td {
        display: block;
        width: 100%;
    }


}

.woocommerce-variation-price{
    margin-bottom: 20px;
}

.woocommerce div.product form.cart .reset_variations{
    display: none;
}