
.woocommerce div.product{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

.wc-tab {

    &s {

        & {
            width: 25%;

            &::before{
                opacity: 0;
            }

            li {
             @include wc-tab;
            }
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
        }

    }

    & {
        width: 60%;

        h2{
            @extend .screen-reader-text;

            +p{
                margin-top: 0;
            }
        }
    }

}

}