.products{
    padding-top: 50px;

    .product{
        background-color: $blue;
        color: $white;
        text-align: center;

        img{
            background-color: $white;
        }

        .add_to_cart_button{
            display: none;
        }

        h2, .price{
            color: $white;
        }
    }
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    @include button;
}