@import 'related';

.woocommerce-wrap{
    padding-top: 50px;
    padding-bottom: 50px;
}

@import 'card';

@import 'single';

@import 'buttons';


.woocommerce div.product p.price,
.woocommerce div.product span.price {
    font-weight: bold;
    color: $black;
}

@import 'thumbnail';

@import 'tabs';



@import 'checkout';

@import 'account';

.related {
    width: 100%;
}

@import 'archive';
.woocommerce .woocommerce-breadcrumb{
    color: $dark !important;

    a{
        font-weight: bold;
        color: $dark !important;
        text-decoration: none;
    }
}

@import 'cart';