@mixin shadow($offset: 3px) {
    box-shadow: 0px #{$offset} 6px rgba($dark, 0.3);
}

@mixin inc_states {

    &,
    &:hover,
    &:focus,
    &:visited,
    &:active {
        @content;
    }
}

@mixin button {
    padding: 9px 14px;
    min-width: 140px;
    border-radius: 20px;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;

    background-color: $blue;

    @include inc_states {
        color: $dark;
    }

    outline: none;
    border: 0;

    @each $name,
    $color in $colors {

        &.color-#{$name},
        &.has-#{$name}-color {
            @include inc_states {
                color: $color;
            }

        }

        &.bg-#{$name},
        &.has-#{$name}-background-color {
            @include inc_states {
                background-color: $color;
            }
        }

        &.border-#{$name} {
            @include inc_states {
                border-color: $color;
            }
        }

    }
}

@mixin wc-tab {
    display: block;
    width: 100%;
    background: transparent !important;
    border: 0 !important;
    border-radius: 0;
    border-top: 2px solid !important;
    padding: 0px 15px !important;

    border-color: $yellow !important;

    &::before,
    &::after {
        display: none;
    }

    &:last-child {
        border-bottom: 2px solid $yellow !important;
    }

    a {
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;

        font-weight: bold;
        color: $black;
        text-decoration: none;
    }
}